body {
	
	color: rgb(255, 251, 175);
	background-color: black;
	font-family: 'Arvo', serif;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1120px;

}
#header {
    height: 201px;
    float: top;
}
#side_bar {
	width: 200px;
	height: 500px;
	display: inline-block;
	float: left;
}
ul {
	font-size: 14px;
}
}
#center_image {
	
	display: inline;

}
.blog_text {
	margin-left: 230px;
	width:  620px;
}
.text_main {
	text-align: right;
	margin-bottom: 5px;
	margin-top: 5px;	
}
h1 {
	position: absolute;
	font-size: 40px;
	text-align: center;
	width: 230px;
	
	margin-top: -130px;
	margin-left: 500px;
	
}
h4 {
	width: 1000px;
}
#footer {
	margin-bottom: 0px;
	margin-left: 740px;
	clear: both;
}
a:link {
	color: rgb(255, 165, 89);
}
a:visited {
	color: white;
}
a:hover {
	font-weight: bold;
	color: yellow;
}

/* {border: 1px solid white;}