#index_background {
	color: rgb(255, 251, 175);
	font-family: 'Arvo', serif;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 885px;
}
#header {
    height: 201px;
    float: top;
    border-color: black;
    border-radius: 5%;
    margin-left: 25px;
    margin-top: 25px;
}
#center_image {
    /* margin-left: 30px; */
}
#lcdb {
	/* position: absolute; */
	font-size: 40px;
	text-align: center;
	width: 230px;
	margin-top: -180px;
	/* margin-left: 438px; */	
	margin-left: auto;
	margin-right: auto;
}
#wtmb {
	/* margin-left: 647px; */
	margin-left: auto;
	margin-right: auto;
	/* position: absolute; */
	text-align: center;
}
