body {
	background-color: black;
	background-image: url("../imgs/back-code-black.jpg");
	background-color: black;
}
#background {
	color: rgb(255, 251, 175);
	background-color: black;
	font-family: 'Arvo', serif;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	width: 1000px;
	border-radius: 10px;
}
#header {
    height: 201px;
    float: top;
    border-color: black;
    border-radius: 5%;
    margin-left: 25px;
    margin-top: 25px;
}
#side_bar {
	position: absolute;
	width: 207px;
	float: left;
	margin-left: 22px;
}
.button {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 190px;
	border-width: 3px;
	border-style: double;
	border-color: rgb(255, 251, 175);
	border-radius: 13px;
	margin-top: 14px;
	margin-left: 1px;
	text-align: center;
	color: rgb(255, 251, 175);
	background-color: rgb(60, 53, 16);
}
ol {
	margin-top: 65px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-width: 3px;
	border-style: double;
	border-color: rgb(255, 251, 175);
	border-radius: 13px;
}
ul {
	font-size: 14px;
	margin-left: -25px;
}
.main {
	margin-left: 250px;
	width:  620px;
}
.main > img {

}
p {
	color: white;	
}
b {
	font-weight: normal;
	font-family: courier, monaco, profont, snas-serif;
	background-color: rgb(86, 86, 86);
	color: rgb(255, 165, 89);
}
strong {
	color: rgb(255, 251, 175);
}
figure {
	margin-left: 0px;
}
figcaption {
	margin-left: 8px;
}
#footer {
	/* margin-bottom: 0px; */
	margin-left: 621px;
}
a:link {
	color: rgb(255, 165, 89);
}
a:visited {
	color: white;
}
a:hover {
	font-weight: bold;
	color: yellow;
}

/* {border: 1px solid white;}