body {
	color: rgb(255, 251, 175);
	background-color: black;
	font-family: 'Arvo', serif;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
}
#header {
    height: 201px;
    float: top;
    border-color: black;
    border-radius: 5%;
    margin-left: 2px;
}
#side_bar {
	position: absolute;
	width: 207px;
	float: left;
}
.button {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 194px;
	border-width: 3px;
	border-style: double;
	border-color: rgb(255, 251, 175);
	border-radius: 13px;
	margin-top: 14px;
	margin-left: 1px;
	text-align: center;
	color: rgb(255, 251, 175);
	background-color: rgb(60, 53, 16);
}
ol {
	margin-top: 65px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 3px;
	border-style: double;
	border-color: rgb(255, 251, 175);
	border-radius: 13px;
}
ul {
	font-size: 14px;
}
.main {
	margin-left: 230px;
	width:  620px;
}
p {
	color: white;	
}
#footer {
	margin-bottom: 0px;
	margin-left: 621px;
}
a:link {
	color: rgb(255, 165, 89);
}
a:visited {
	color: white;
}
a:hover {
	font-weight: bold;
	color: yellow;
}

/* {border: 1px solid white;}